@use "./fragments/variables" as *;
@use "./fragments/mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
  background-color: $bg-color;
  color: $font-color;
  display: grid;
  place-content: center;
  text-align: center;
}
main {
  transform: translateY(-2rem);
  h2 {
    font-size: 2.5rem;
    font-family: $font-style-heading;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  h4 {
    font-family: $font-style;
    margin-bottom: 2rem;
  }
}
