@use "./fragments/variables" as *;
@use "./fragments/mixins" as *;

//////////// about page ///////////
.aboutpage {
  width: 100vw;
  @include placecenter;
  padding: 1rem;
  .aboutpageinner {
    width: 100%;
    max-width: $max-default-width;
    height: auto;
    .imgdiv {
      width: 100%;
      height: 400px;
      background: url("https://cdn1.vogel.de/unsafe/fit-in/1000x0/images.vogel.de/vogelonline/bdb/1596100/1596179/original.jpg")
        no-repeat;
      background-size: 100% 400px;
      h1 {
        position: absolute;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        width: 100%;
        max-width: $max-default-width;
        margin-top: 160px;
        z-index: 101;
      }
    }
    .textdiv {
      padding: 10px;
      margin: 1rem 0;
    }
  }
}

.aboutpageinner .imgdiv::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: $max-default-width;
  height: 400px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
  background: rgba(0, 0, 0, 0.767);
  text-align: center;
}

/////////// contac page ///////////
.contactpage {
  width: 100vw;

  @include placecenter;

  .contactpageinner {
    width: 100%;
    max-width: $max-default-width;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    .contactinfo {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin-top: 2rem;
      > * div {
        width: 100%;
        max-width: 500px;
      }
      .textdetail {
        > * {
          margin: 10px 0;
        }
        h2 {
          margin-bottom: 2rem;
        }
        h4 {
          margin-top: 1rem;
        }
        p a {
          padding: 0 10px;
          margin-bottom: 10px;
        }
      }
      .map {
        iframe {
          width: 35rem;
          height: 20rem;
        }
      }
    }
  }
}

.contactform {
  margin-top: 4rem;
  width: 100%;
  @include placecenter;
  flex-direction: column;
  h2 {
    margin-bottom: 2rem;
  }
  form {
    width: fit-content;
    font-size: 1rem;
  }

  #name {
    width: 20rem;
    height: 2.5rem;
    padding: 1px 10px;
    margin: 1rem;
  }
  #phone {
    width: 20rem;
    height: 2.5rem;
    padding: 1px 10px;
    margin: 1rem;
  }
  #email {
    width: 42rem;
    height: 2.5rem;
    padding: 1px 10px;
    margin: 1rem;
  }
  textarea {
    width: 42rem;
    height: 8rem;
    padding: 1px 10px;
    margin: 1rem;
  }
  #submitbtn {
    width: 10rem;
    height: 2.5rem;
    font-weight: 700;
    background-color: $primary-color;
    color: #fff;
    padding: 5px 10px;
    margin: 2rem 1rem;
  }
}

.activesuccessmsg {
  width: 250px;
  height: 40px;
  background-color: #b9f8b9;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  position: fixed;
  right: 4rem;
  bottom: 2rem;
  font-size: 1rem;
  P {
    margin-left: 10px;
  }
  transition: all 400ms ease-in-out;
}
.successmsg {
  width: 250px;
  height: 40px;
  background-color: #b9f8b9;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  position: fixed;
  right: -100%;
  bottom: 2rem;
  font-size: 1rem;
  P {
    margin-left: 10px;
  }
  transition: all 400ms ease-in-out;
}
.activeerrormsg {
  width: 250px;
  height: 40px;
  background-color: #ffc5c5;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  position: fixed;
  right: 4rem;
  bottom: 2rem;
  font-size: 1rem;
  P {
    margin-left: 10px;
  }
  transition: all 400ms ease-in-out;
}

.errormsg {
  width: 250px;
  height: 40px;
  background-color: #ffc5c5;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  position: fixed;
  right: -100%;
  bottom: 2rem;
  font-size: 1rem;
  P {
    margin-left: 10px;
  }
  transition: all 400ms ease-in-out;
}

@media only screen and (max-width: 480px) {
  .contactpageinner .contactinfo .map iframe {
    width: 380px;
  }
}

@media only screen and (max-width: 800px) {
  iframe {
    width: 20rem !important;
    margin-top: 1rem;
  }
  .contactform {
    width: 100%;
    #name,
    #phone,
    #email,
    #message {
      width: 20rem;
    }
  }
}
