@use "./variables" as *;

@mixin hoverEffect($color: #fff) {
  color: $color;
  transform: translateY(-10px);
  box-shadow: 0 0 10px #0000004b;
}

@mixin placecenter($ai: center, $jc: center) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}
