@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$font-style: "Roboto", sans-serif;
$font-style-heading: "Bebas Neue";

$primary-color: #000096;
$font-color: #fff;
$bg-color: #111111;

$max-default-width: 1350px;
